h1 {
    color: black;
    background-image: url("../image/pattern.webp");
    text-align: center;
    padding-bottom: 10px 20px;
    font-weight: bold;
    padding: 160px 250px;
    font-size: 100px;
    }
   
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
        width: 250px;
        height: 250px;
        }
        .title {
            text-align: center;
            font-size: 30px;
        }
        
    .container {
        margin-bottom: 50px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }    
    .container1 {
        font-size: 1.5rem;
        background-color: lightcoral;
        margin-bottom: 100px;
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
        border: 5px solid;
        padding-bottom: 10px 20px;
        
    }
    .container2 {
        font-size: 1.5rem;
        margin-bottom: 100px;
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
        border: 5px solid;
        padding-bottom: 10px 20px;
        background-color: #9DD1F1;
    }
    .container3 {
        font-size: 1.5rem;
        background-color: coral;
        margin-bottom: 100px;
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
        border: 5px solid;
        padding-bottom: 10px 20px;
    }
    .price {
        color: yellow;

    }
    