 html {
    background-color: #FF4500;
 }

 .container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    height: auto;
 }
 
 
 
 h1 {
    color: blue;
    text-align: center;
    font-family: 'inter', sans-serif;
    font-size: 80px;
 }

 h2 {
    text-align: center;
    text-decoration: underline;
    font-family: 'inter', sans-serif;
    font-size: 40px;
 }

 main {
    background-color: white;
 }


   .ph {
    color: black;
    
   }

   .selector {
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 80px;
    margin-right: 80px;
   }
 

 Body {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    
    bottom: 50%;
 }

 
 
 th, td {
    border: 3px solid rgb(76, 0, 255);
    letter-spacing: 5px;
    font-family: "inter", sans-serif;
}

td {
    display: table-cell;
    vertical-align: inherit;
    padding-top: 20px;
    

}
table {
    margin: 90px auto;
    border-collapse: collapse;
    width: 90%;
    box-sizing: border-box;
    border: 0px;
    text-align: center;
}

table {
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
}
.tag {
    color: #ee118b;
    
}
.tag1 {
    color: #ee118b;
    
}

.tdb {
    background-color: lightblue;
}

ol, ul {
    text-align: left;
}

p {
    text-align: center;
    color: blue;
    font-size: 25px;
}

a {
    text-align: center;
    font-size: 50px;
}